@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
.title {
    width: fit-content;
    margin: 2rem auto;
    font-family: "Montserrat", sans-serif;
    color: rgb(89, 8, 165);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imageContainer {
    width: 24rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imageFig {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin: 0.5rem 1rem;
    font-weight: 300;
    color: rgb(0, 101, 101);
}
.imageFig figcaption {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
